.aboveForm {
  text-align: center;
}

h2 {
  text-align: left;
  margin-left: 15px;
}
.form {
  margin-left: 15px;
  margin-right: 15px;
}
#submitButton {
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
}

.redBackground {
  background-color: red;
}

.formInputs {
}

tr {
  display: table-row;
}
